html {
  font-size: 16px; /* Base de 16px, pode ser ajustada conforme necessário */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem; /* Adiciona um pouco de padding horizontal */
  margin-bottom: 10rem; /* Espaço entre home e footer */
}

#banner {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100vw;
  height: 100vh; /* Garante que o banner ocupe toda a altura do viewport */
  left: 50%;
  transform: translateX(-50%);
}

#banner img {
  width: 100%;
  height: 100%; /* Faz a imagem cobrir toda a altura do banner */
  object-fit: cover; /* Garante que a imagem cubra todo o banner */
}

.banner-text {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 90%;
  margin: 0;
  padding: 0;
}

.banner-text h1 {
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 10px 0;
  color: var(--color-white); /* Define a cor branca para o título */
}

.banner-text p {
  font-size: 1.8rem;
  margin: 0;
  padding: 10px 0;
  color: var(--color-black); /* Define a cor preta para o sub-título */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.banner-button {
  position: absolute;
  bottom: 22%; /* Posiciona o botão no rodapé da imagem */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background-color: var(--color-gold) !important;
  border-color: var(--color-gold) !important;
  color: var(--color-dark-blue);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.banner-button:hover {
  background-color: var(--color-light-green);
  border-color: var(--color-light-green);
  color: var(--color-dark-blue);
}

#about {
  background-color: var(--color-light-grey);
  padding: 2rem 1.5rem 3rem 1.5rem;
  margin: 0;
}

#about h2 {
  color: var(--color-dark-blue);
  text-align: center;
}

#about p {
  color: var(--color-dark-blue);
  font-size: 1.25rem;
  line-height: 1.6;
}

#about img {
  width: 100%;
  height: auto;
}

#services {
  background-color: var(--color-light-blue);
  padding: 2rem 1.5rem 2rem 1.5rem;
  margin: 0;
}

#services h2 {
  color: var(--color-dark-blue);
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(33.333% - 1rem); /* Ajustado para responsividade */}

.card {
  border: 10px solid #ddd;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-title {
  color: var(--color-dark-blue);
  font-size: 1.25rem; /* Alterado para rem */
  margin-bottom: 1rem; /* Alterado para rem */
}

.card-text {
  color: var(--color-dark-blue);
  font-size: 1rem; /* Alterado para rem */
  flex-grow: 1;
}

#news {
  background-color: var(--color-dark-blue);
  padding: 2rem 1.5rem 3rem 1.5rem;
  margin: 0;
}

#news h2 {
  color: var(--color-light-blue);
  text-align: center;
}

#news .carousel-indicators {
  bottom: -2.5rem; /* Ajuste conforme necessário para a seção de vídeos */
  background-color: var(--color-light-blue);
}

#news .card {
  border: none;
  margin-bottom: 1rem;
  background-color: var(--color-white);
}

#news .card-img-top {
  height: 200px;
  object-fit: cover;
}

#news .card-title {
  color: var(--color-dark-blue);
  font-size: 1.2rem;
}

#news .card-text {
  color: var(--color-dark-blue);
  font-size: 1rem;
}

#videos {
  background-color: var(--color-gold);
  padding: 2rem 1.5rem 4rem 1.5rem;
  margin: 0;
}

#videos h2 {
  color: var(--color-black);
  text-align: center;
  padding-bottom: 1.5rem;
}

/* Ajuste específico para a seção de vídeos */
#videos .carousel-indicators {
  bottom: -3.5rem; /* Ajuste conforme necessário para a seção de vídeos */
  background-color: var(--color-dark);
  color: var(--color-dark);
}

#testimonials {
  background-color: var(--color-light-green);
  padding: 2rem 1.5rem 3rem 1.5rem;
  margin: 0;
}

#testimonials h2 {
  color: var(--color-black);
  text-align: center;
}

.testimonial-card {
  background-color: var(--color-dark-blue) !important;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1.5rem;
}

.testimonial-card .card-body {
  height: 8rem;
  padding: 1.5rem;
}

.testimonial-card blockquote {
  margin-bottom: 0;
}

.testimonial-card blockquote p {
  font-size: 1.1em;
  color: var(--color-gold);
}

.testimonial-card blockquote footer {
  font-size: 0.9em;
  color: var(--color-light-blue);
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .container {
    margin-bottom: 15rem; /* Espaço entre home e footer */
  }
  
  #banner {
    height: 70vh; 
  }

  .banner-text {
    top: 20%;
  }

  .banner-text h1 {
    font-size: 1.5rem;
  }

  .banner-text p {
    font-size: 1rem;
  }

  .banner-button {
    bottom: 15%;
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }

  #about {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  #about h2 {
    font-size: 1.5rem;
  }

  #about p {
    font-size: 1.2rem;
  }

  #services {
    padding: 2rem 1rem;
  }

  .col-md-4 {
    flex: 1 1 100%;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 0.9rem;
  }

  #news {
    padding: 2rem 1rem;
  }

  #news h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  #news .card-img-top {
    height: 150px;
  }

  #news .card-title {
    font-size: 1rem;
  }

  #news .card-text {
    font-size: 0.9rem;
  }

  #videos .col-md-4 {
    margin-bottom: 1rem;
  }
  #videos {
    padding: 2rem 1rem 3.5rem 1rem;
    margin: 0;
  }

  #videos h2 {
    font-size: 1.5rem;
    margin-bottom: 0rem;
  }

  #testimonials {
    padding: 1rem; /* Ajuste de padding para a seção */
    text-align: center;
  }

  #testimonials .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonial-card {
    width: 100%; /* Ocupa toda a largura */
    height: 100%; /* Altura automática */
    max-width: 100%; /* Aproximadamente 300px, mas em rem */
    margin-bottom: 1.5rem; /* Espaço entre os cartões */
  }

  .testimonial-card .card-body {
    padding: 0.5rem; /* Ajuste de padding interno */
  }

  .testimonial-card blockquote p {
    font-size: 1em;
    color: var(--color-gold);
  }
  
  .testimonial-card blockquote footer {
    font-size: 0.8em;
    color: var(--color-light-blue);
  }
}
