/* Header.css */

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  padding: 1.5em 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  padding: 0 2vw 0 3vw;
  height: 50px;
  width: auto;
}

.navbar {
  background-color: var(--color-dark-blue);
  width: 100%;
}

.navbar-nav {
  flex-grow: 1;
  justify-content: space-between;
  padding-right: 3vw;
}

.nav-item {
  margin: 0;
  padding: 0;
  position: relative;
}

.navbar-nav .nav-link {
  color: var(--color-white) !important;
  font-weight: bold;
  font-size: 1em;
  padding: 0.5em 1em;
}

.navbar-nav .nav-link:hover {
  color: var(--color-gold) !important;
}

.navbar-nav .dropdown-menu .dropdown-menu {
  left: 0%;
  top: 0;
  margin-top: -1px;
}

.dropdown-menu {
  background-color: var(--color-dark-blue) !important;
  border: none;
}

.dropdown-item {
  color: var(--color-white) !important;
  white-space: nowrap;
}

.dropdown-item:hover {
  background-color: var(--color-light-blue) !important;
  color: var(--color-dark-blue) !important;
}

#retirementDropdown,
#byAgeDropdown,
#byContributionTimeDropdown,
#assistanceDropdown {
  display: flex;
  padding: 0.5em 0;
}

.navbar-toggler {
  border-color: var(--color-light-blue);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2881,132,229, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 768px) {
  .logo {
    padding: 0;
    height: 40px;
  }

  .navbar-collapse {
    display: flex;
    justify-content: flex-start; /* Garante que o menu colapse comece à esquerda */
  }
  .navbar-nav {
    display: flex;
    flex-direction: column; /* Força os itens em uma coluna */
    align-items: flex-start; /* Alinha todos os itens da navbar à esquerda */
    width: 100%;
  }
  .navbar-nav .nav-item {
    width: 100%;
    text-align: left; /* Alinha o texto dos itens à esquerda */
    padding-left: 1em; /* Adiciona um recuo se necessário */
  }
  .nav-item.dropdown .dropdown-toggle {
    display: flex;
    width: 100%; /* Garante que o dropdown toggle também ocupe a largura total */
    text-align: center; /* Centraliza o texto do dropdown */
  }

  .dropdown-menu {
    text-align: left;
    width: 100%;
    padding-left: 1em; /* Recua o conteúdo do dropdown à esquerda */
  }

  .dropdown-item {
    text-align: left;
    padding-left: 1em; /* Recua os itens dentro do dropdown à esquerda */
  }
}
