.grupo_TextArea {
  margin-top:0.5rem;
  position: relative;
  width: 100%;
}

.grupo_TextArea textarea {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--color-white);
  outline: none;
  background: var(--color-dark-blue);
  font-size: 1rem;
  color: var(--color-white);
  resize: none;
}

.grupo_TextArea label {
  position: absolute;
  top: 10%;
  left: 0.75rem;
  transform: translateY(50%);
  transition: all 0.3s;
  pointer-events: none;
  color: var(--color-white);
}

.grupo_TextArea textarea:focus + label,
.grupo_TextArea textarea:not(:placeholder-shown) + label,
.grupo_TextArea textarea:valid + label {
  top: -0.75rem;
  left: 0.5rem;
  font-size: 0.75rem;
  color: var(--color-light-blue);
}
