.modal-dialog {
  max-width: 500px;
}

.modal-body {
  background-color: var(--color-dark-blue);
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: none; 
}

.row {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 10px;
  padding-left: 10px;
}

button.btn-enviar {
  margin-top: 1rem;
  border-color: var(--color-light-blue);
  background-color: var(--color-dark-blue);
  color: var(--color-light-blue);
  transition: border-color 0.3s ease; /* Adiciona a transição suave */
}

button.btn-enviar:hover {
  border-color: var(--color-dark-blue);
  background-color: var(--color-light-blue);
  color: var(--color-dark-blue);
}

button.btn-fechar {
  margin-left: 1rem;
  margin-top: 1rem;
  border-color: var(--color-light-blue);
  background-color: var(--color-dark-blue);
  color: var(--color-light-blue);
}

button.btn-fechar:hover {
  border-color: var(--color-dark-blue);
  background-color: var(--color-light-blue);
  color: var(--color-dark-blue);
}

/* Estiliza o campo de input do DatePicker */
.datePicker-form-control {
  position: relative;
  width: 13.8rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--color-white);
  border-color: var(--color-light-blue);
  outline: none;
  background: var(--color-dark-blue);
  font-size: 1rem;
  margin-top: 0.5rem;
}

/* estilizar o placeholderText*/
.datePicker-form-control::placeholder {
  color: var(--color-white);
}

@media (max-width: 600px) {
  .datePicker-form-control {
    width: 100%; /* Ocupa toda a largura disponível no mobile */
    height: 2rem; /* Aumenta a altura para melhor visualização */
    padding: 0.4rem 0.5rem; /* Ajusta o padding para telas menores */
    font-size: 0.9rem; /* Reduz o tamanho da fonte */
  }
}




