.modal-dialog {
  max-width: 500px;
}

.modal-body {
  background-color: var(--color-dark-blue);
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: none; 
}

.form-control {
  background-color: var(--color-white);
  border: 1px solid var(--color-dark-blue);
  color: var(--color-dark-blue);
}

.row {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 10px;
  padding-left: 10px;
}

button.btn-enviar {
  margin-top: 1rem;
  border-color: var(--color-light-blue);
  background-color: var(--color-dark-blue);
  color: var(--color-light-blue);
  transition: border-color 0.3s ease; /* Adiciona a transição suave */
}

button.btn-enviar:hover {
  border-color: var(--color-dark-blue);
  background-color: var(--color-light-blue);
  color: var(--color-dark-blue);
}

button.btn-fechar {
  margin-left: 1rem;
  margin-top: 1rem;
  border-color: var(--color-light-blue);
  background-color: var(--color-dark-blue);
  color: var(--color-light-blue);
}

button.btn-fechar:hover {
  border-color: var(--color-dark-blue);
  background-color: var(--color-light-blue);
  color: var(--color-dark-blue);
}

